@font-face {
    font-family: "Catamaran-Regular";
    src: url('Catamaran-Regular.ttf');
}

@font-face {
    font-family: "Open-Sans-Regular";
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open-Sans-Bold";
    src: url('OpenSans-Bold.ttf');
}

@font-face {
    font-family: "Roboto-Condensed-Light";
    src: url("RobotoCondensed-Light.ttf");
}

:root {
    --nav-color: #0009;
    --nav-color-dark: #0009;
    --main-color: var(--slide-color0);
    --slide0-h: 0;
    --slide0-s: 0%;
    --slide0-l: 86.7%;
    --slide-color0: hsl(var(--slide0-h), var(--slide0-s), var(--slide0-l));
    --slide1-h: 175;
    --slide1-s: 100%;
    --slide1-l: 76.9%;
    --slide-color1: hsl(var(--slide1-h), var(--slide1-s), var(--slide1-l));
    --slide2-h: 295;
    --slide2-s: 100%;
    --slide2-l: 78.2%;
    --slide-color2: hsl(var(--slide2-h), var(--slide2-s), var(--slide2-l));
    --slide3-h: 56;
    --slide3-s: 100%;
    --slide3-l: 76.7%;
    --slide-color3: hsl(var(--slide3-h), var(--slide3-s), var(--slide3-l));
    --slide-text0: #222;
    --slide-text1: #222;
    --slide-text2: #222;
    --slide-text3: #222;
    --hover-color: #444a;
    --border-color: rgba(0, 0, 0, 0);
    --nav-font-color:  hsl(0, 0%, 99%);
    --nav-font: "Roboto-Condensed-Light", sans-serif;
    --h1-font: "Catamaran-Regular", sans-serif;
    --main-font: "Open-Sans-Regular", sans-serif;
}

* {
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
}

body {
    background-color: var(--main-color);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    touch-action: manipulation;
}

h1 {
    font-family: var(--h1-font);
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

hr {
    margin: 1rem 0;
}

a:link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    min-height: 30px;
    max-height: 60px;
    position: absolute;
    z-index: 1;
}

nav div {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

nav div * {
    font-family: var(--nav-font);
    color: var(--nav-font-color);
    transition: background 60ms ease-out;
    /*
    -webkit-text-fill-color: var(--nav-font-color); 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-color);
    */
}

.light {
    background-color: var(--nav-color);
}

.dark {
    background-color: var(--nav-color-dark);
}

.nav-top {
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

#nav-bottom {
    justify-content: center;
    border-top: 1px solid var(--border-color);
    bottom: 0;
}

nav > .nav-top-section {
    align-items: center;
    gap: 2rem;
    padding: 0;
}

nav > .nav-bottom-section {
    width: 100%;
}



#nav-logo {
    flex-basis: calc(100%/4);
    justify-content: flex-start;
    padding-left: 3em;
    border-right: 1px solid var(--border-color);
    min-width: 15em;
}

#logo-name {
    color: white;
}

#nav-links {
    gap: 0;
    padding: 0;
    flex-grow: 1;
    margin: 0 1px;
}

.hamburger {
    display: none;
    margin-left: 1px;
    padding: 0;
}

#nav-contact {
    flex-basis: calc(100% / 4);
    gap: 0;
    padding: 0;
    font-size: 1.3rem;
}

button {
    background-color: transparent;
    border: 0px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 2rem;
    height: 100%;
    width: 100%
}

button:hover, a:hover {
    background-color: var(--hover-color);
}

#nav-button-right {
    margin-left: 1px;
}

main {
    background-color: var(--main-color);
}

article {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

article div {
    position: relative;
    border: 1px solid #000000;
    padding: 2rem;
    margin: 10vh 1rem;
    height: 80vh;
}

article * {
    font-family: var(--main-font);
}

article h1 {
    font-size: 3rem;
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
}

article p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

#brash {
    width: 100%;
}

.slide[data-index="0"] {
    background-color: var(--slide-color0);
}

.slide[data-index="1"] {
    background-color: var(--slide-color1);
}

.slide[data-index="2"] {
    background-color: var(--slide-color2);
}

.slide[data-index="3"] {
    background-color: var(--slide-color3);
}

.slide {
    position: absolute;
    transition: transform 200ms ease-out;
}

.slide[data-status="inactive"] {
    transform: scale(0);
}

.slide[data-status="inactive-to-right"] {
    transform: translateX(100%);
}

.slide[data-status="active-from-left"] {
    transform: translateX(-100%);
    transition: none;
}

.slide[data-status="inactive-to-left"] {
    transform: translateX(-100%);
}

.slide[data-status="active-from-right"] {
    transform: translateX(100%);
    transition: none;
}
.slide[data-status="active"] {
    transform: translateX(0%);
}

.dark {
    background-color: var(--nav-color-dark);
}

@media screen and (max-width: 800px) {

    .menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 12vh;
        width: 100%;
        height: calc(76vh / 5 * 4);
    }

    .contacts {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-top: calc(12vh + 76vh / 5 * 4);
        width: 100%;
        height: calc(76vh / 5);
    }

    #nav-logo {
        flex-basis: 60%;
    }
    nav div {
        transition: opacity 0.1s ease-out, visibility 0.1s linear;
    }
    #nav-links button {
        margin-bottom: 1px;
    }

    .hamburger {
        display: flex;
        width: 100%;
        flex-basis: 40%;
        padding: 0;
    }
    .hamburger button {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav {
        max-height: 12vh;
        height: 12vh;
    }

    .nav-button, .nav-button h3 {
        font-size: 3rem;
    }

    #nav-logo {
        font-size: 1rem;
//        margin-right: 1px
    }

    #nav-contact {
        font-size: 3rem;
    }

    .active {
        visibility: visible;
        opacity: 1;
    }

    .visible {
        display: block;
    }
    
    article div {
        margin-top: 15vh;
        height: 70vh;
    }

}